django
djangorestframework
django-test-plus
factory-boy
mixer
django-coverage-plugin
pytest-django
pytest-sugar
rstcheck
coverage
haikunator
mock
flake8
tox
codecov
sphinx_rtd_theme
sphinx
recommonmark
quartet_capture
quartet_masterdata
quartet_epcis
